
body {
    background-color: #673ab7;
    color: #fff;
}
div.container {
    border: 1px solid #fff;
}

.bg {
    padding: 10px;
    background-color: #563d7c26;
    border: 1px solid rgba(86, 61,124,.2);
}

.color-1 {
    padding: 10px;
    background-color: #d3bbff;
    color: #000;
    
}
.height-500 {
     min-height: 500;   
}
.p50 {
    padding: 50px;
}

.grid-layouts.container {
    border: 1px solid rgb(204, 23, 17) !important;
}
